<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-AU-Compatible" content="ie=edge">
    <title>Plato del Buen Comer</title>
  <link rel="stylesheet" href="default.css"> 
  </head>
 <body>
   
   <div id="header">
      <ul>
        <li><a href="main">Inicio</a></li>
        <li><a href="consulta">Recetas y Tips</a></li>
        <li><a href="plato">Plato del Buen comer</a></li>
        <li><a href="ayuda">¿Mala alimentacion?</a></li>
      </ul>  
   </div>  



 
 <div id="main">
        <h1 class="center"> Plato del Buen Comer</h1>
 </div>  
   

<div id="container">
<img id="plato" src="platobc.jpg" alt="[Imagen] Plato del buen comer">
</div>





<div id="footer">
		© Salud en buen comer 2021 
</div>		
 </body>

</html>
