#informacion{
  background-color:  #cde3c5;
  border: solid 3px #569c3d;
  float:left;
  width: 800px;

}

#informacion2{
  background-color:  #cde3c5;
  border: solid 3px #569c3d;

 margin:-100px;
  width: 700px;
  float:rigth;
  margin-left:2%;
}

#d1{
text-align:  justify;
 font-family: Arial, fantasy ;
}
#d1{
padding:25px;
}

#informacion p{
 text-align:  justify;
 font-family: Arial, fantasy ;
}

#informacion2 p{
 text-align:  justify;
 font-family: Arial, fantasy ;
}

#detalles1, #detalles2, #detalles3, #detalles4,#detalles5, #detalles6, #desplazo1, #desplazo2, #desplazo3, #desplazo4, #desplazo5, #desplazo6{
  padding: 15px;
  text-align: center;
  background-color: #1FD084;
  border: solid 1px #2DD582;
  font-family: '21st Century', fantasy ;
  font-size:medium;
  width:auto;
}

#desplazo1, #desplazo2, #desplazo3, #desplazo4, #desplazo5, #desplazo6{
padding: 10px;
display: none;
}

#imagenes{
position:relative;
left:1%;
top:-10px;
}
#imagenes img{
	
width:300px;
height:300px;
border-radius:500px;
}

#imagenes2{
position:relative;
left:74%;
top:-300px;

}
#imagenes2 img{
	
width:300px;
height:300px;
border-radius:500px;
}

