@import url(banner.css);
@import url(menulateral.css);


body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6f5e7;
}

#footer{
  background-color: #00c74c;
  padding: 18px;
  bottom:0;
  position: fixed;
  width: 100%;
  text-align:center;
  height:1px;
  color:white;
}



.center{
  text-aline:center;
}

.error{
  color: red;
}

#container{
width:100%;
text-align:center;
}

#plato{
width:auto;
max-width:100%;
padding-bottom: 50px;
}

img {
width:auto;
height:auto;
}

section{
	width: 100%;
	margin-bottom: 5px;
}


