body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    background: #00c74c;
    margin: 0 auto;
}

input {
    border: solid 0;
    border-radius: 3px;
}

#header1 {
    background: #00c74c;
    padding: 34px;
    width: auto;
}

#header1 input[type=text],
input[type=email] {
    padding: 10px;
    margin: 5px;
    font-size: 10px;
    width: 150px;
}

#header1 input[type=password] {
    padding: 10px;
    margin: 5px;
    font-size: 10px;
    width: 120px;
}

#header1 input[type=submit] {
    background-color: #358a29;
    color: white;
    margin: 5px;
    padding: 8px;
    border: none;
    width: 100px;
}

#menu {
    background-color: #00c74c;
    padding: 20px;
    float: right;
    color: white;
}

#menu div {
    margin: 5px;
    padding: 0;
    list-style: none;
    display: inline;
    width: 100%;
}

#menu input[type=text],
input[type=password],
input[type=email] {
    width: 250px;
    padding: 15px;
}

#menu input[type=submit] {
    background-color: #358a29;
    color: white;
    margin: 5px;
    padding: 20px;
    border: none;
    width: 150px;
}

#pos1 {
    float: left;
    background-color: #08b302;
    padding: 20px;
    margin-left: 80px;
    margin-top: 20px;
    color: white;
}

#pos2 {
    float: left;
    background-color: #08b302;
    margin-left: 120px;
    margin-top: 0px;
    padding: 20px;
}

#header1 img {
    float: left;
    width: 40px;
    height: 50px;
}

#logo2 img {
    float: left;
    margin-top: 400px;
    width: 80px;
    height: 100px;
    float: right;
}

.cerrar-sesion {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    position: relative;
    left: 70%;
    color: #ffffff;
    background-color: #04d608;
    border-radius: 6px;
    border: 2px solid white;
    width: 100px;
    height: 40px;
}

.cerrar-sesion:hover {
    color: #08b302;
    background-color: white;
}