body{
	background-color: #ededed;
}
ul li{
	list-style:none;
	display: inline-block;
	vertical-align: top;
	width:30%;
	height:60px;
}

#lista, #droppable, #droppable2{
	display: inline-block;
	vertical-align: top;
}

#lista{
	width:50%;
}
#droppable, #droppable2{
	width:23%;
	height:450px;
}
.imagenes{
	border-radius: 4px;
	border:1px solid white;
	display: inline-block;
	vertical-align: top;
	height:150px;
	width:20%;
}
.imagenes img{
	height:60%;
	margin-left:10%;
	width:80%;
	cursor:move;
}
.claseactiva{
	background-color:#CCC;
}
.clasesobre{
	background-color:green;
}
.clasesobre2{
	background-color:red;
}